{% macro pageli(page, lang, upper=False) -%}
	{% set txt = page.get_text(lang) -%}
	{% if upper -%}
		{% set direction = "left" -%}
	{% else -%}
		{% set direction = "right" -%}
	{%- endif -%}

	{%- if txt -%}
	<li><a href="/{{ page.url }}">
		<span class="glyphicon glyphicon-chevron-{{ direction }}"></span> {{ txt.title }}
	</a></li>
	{%- endif %}
{%- endmacro %}

{% macro lang_select() -%}
	{% if config.language_available |length > 1 -%}
	<div class="col-xs-12">
		{{ strings['languages'] }}:
	</div>
	<br>
	<ul>
	{% for key, x in config.language_available.items() -%}
		{% if key != lang %}
		<li><a href="/_lang/{{ key }}?next={{ request.path }}">
			{{ x.strings['name'] }}
		</a></li>
		{%- endif %}
	{%- endfor %}
	</ul>
	{%- endif %}
{%- endmacro %}