{% extends "_basic.html" %}
{% import "__macros.html" as macros with context %}

{% macro pageli(page, lang, upper=False) -%}
	{% set txt = page.get_text(lang) -%}
	{% if upper -%}
		{% set direction = "left" -%}
	{% else -%}
		{% set direction = "right" -%}
	{%- endif -%}

	{%- if txt -%}
	<li><a href="/{{ page.url }}">
		<span class="glyphicon glyphicon-chevron-{{ direction }}"></span> {{ txt.title }}
	</a></li>
	{%- endif %}
{%- endmacro %}


{% block content %}
{# Admin header #}
{{ macros.adminka() }}

{# Table of content #}
<div class="col-xs-2 menu-left">
	<div class="col-xs-12 text-center menu-left-header">
		<h3>{{ config.site_name }}</h3>
	</div>

	<div class="col-xs-12 menu-left-content">
		<ul>
			{% if upper -%}
			{{ pageli(upper, lang, True) }}
			{%- endif -%}

			{%- for page in children -%}
			{{ pageli(page, lang) }}
			{%- endfor %}
		</ul>

		{{ macros.lang_list() }}
	</div>
</div>

{# Page data #}
<div class="col-xs-10 page-main">
	<div id="blind">
		<div class="blind-inner col-xs-12 text-center">
			<div class="loader"></div>
		</div>
	</div>

	{% block body_content %}{% endblock %}
</div><!-- col-xs-10 page-main -->
{% endblock %}