/* Common page - left menu */
.menu-left {
	color: white;
	min-height: 100%;
	padding: 0;
}
.menu-left-content {
	padding-left: 0;
	color: white;
}
.menu-left-content > ul {
	padding-left: 28px;
}
.menu-left-content > ul > li {
	margin-bottom: 6px;
}
.menu-left-title {
	background-color: hsl(210,33%,33%);
	margin-bottom: 16px;
}

/* Common page - content */
.page-main {
	background-color: hsl(0,0%,97%);
	min-height: 100%;
	padding-left: 0;
	padding-right: 0;
}
.page-main-content {
	display: block;
	position: relative;
	float: left;
	width: 100%;
	padding-bottom: 32px;
	min-height: 64px;
}
