html, body {
	height: 100%;
	padding: 0;
	background-color: hsl(210,33%,25%);
}
.container-fluid {
	padding: 0;
	height: 100%;
}

.admin-bar {
	padding: 6px 20px;
	text-align: center;
	background-color: hsl(0,0%,27%);
	color: white;
}

.link-white {
	color: white;
}
.link-white:hover {
	color: #cccccc;
	text-decoration: underline;
}

.upheader {
	padding-top: 6px;
}
.upheader ~ h1 {
	margin-top: 0px;
}

/* Common page - left menu */
.menu-left {
	color: white;
	min-height: 100%;
	padding: 0;
}
.menu-left-content {
	padding-left: 0;
	color: white;
}
.menu-left-content > ul {
	padding-left: 28px;
}
.menu-left-content > ul > li {
	margin-bottom: 6px;
}
.menu-left-header {
	background-color: hsl(210,33%,33%);
	margin-bottom: 16px;
}

/* Common page - content */
.page-main {
	background-color: hsl(0,0%,97%);
	min-height: 100%;
	padding-left: 0;
	padding-right: 0;
}
.page-main-content {
	display: block;
	position: relative;
	float: left;
	width: 100%;
	padding-bottom: 32px;
	min-height: 64px;
}

.page-card-holder {
	width: 100%;
	display: block;
	position: relative;
	float: left;
}
.page-card {
	background-color: hsla(210,33%,50%, 0.1);
	border: 1px solid hsl(210,33%,50%);
	border-radius: 6px;
	padding: 0px 16px 16px 16px;
	margin: 8px;
	width: calc(100% - 20px);
	float: left;
}

@media (min-width: 992px) {
.page-card {
	width: calc(50% - 20px);
}
} /* Medium */
